@import "global.styl"
body
  padding-top rem(62)
  width 100vw
  height 100vh
  box-sizing border-box

  *
    margin: 0
    padding: 0
    box-sizing border-box
    list-style none
    font-family: PingFangSC-Regular, sans-serif;
  .title
    display flex
    justify-content left
    align-items center
    .divide
      background-color  red
      width rem(4)
      margin-right rem(20)
      height rem(16)

    h1
      font-size rem(18)

  ul
    margin-top rem(20)
    padding 0 rem(20)
    box-sizing border-box
    font-family: PingFangSC-Regular, sans-serif;
    li
      font-size rem(16)
      font-weight 400
      line-height rem(36)

