html
    head
        meta(charset='utf-8')
        title 常见问题
        <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,initial-scale=1, shrink-to-fit=no,user-scalable=0">
    body
        .title
            .divide
            h1 如何购买会员：
        ul
            li 1. 点击进入右下角【我的】；
            li 2. 点击进入右下角【我的】；
            li 1. 点击进入右下角【我的】；
            li 1. 点击进入右下角【我的】；
            li 1. 点击进入右下角【我的】；1. 点击进入右下角【我的】；
            li &nbsp&nbsp&nbsp 注意注意注意注意注意注意注意注意注意


